body {
  background: #485563;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#status {
  color: white;
}

div#board-container {
  width: 560px;
  height: 560px; /*so that it will tranform properly*/
  margin: 70px auto;
  transform-origin: center;
  -webkit-transition: 2s ease-in;
  -moz-transition: 2s ease-in;
  -ms-transition: 2s ease-in;
  -o-transition: 2s ease-in;
} 

.row {
  width: 560px;
  margin: 0;
}

div.square {
  background: red;
  width: 70px;
  height: 70px;

}

.row:nth-child(even) .square:nth-child(even), .row:nth-child(odd) .square:nth-child(odd) {
  background: #ddd6f3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.row:nth-child(odd) .square:nth-child(even), .row:nth-child(even) .square:nth-child(odd) {
  background: white;
}

@media screen and (max-width: 768px) {
    div#board-container {
      width: 400px;
      height: 400px; /*so that it will tranform properly*/
    }
    div.square {
      width: 50px;
      height: 50px;
    }
    .row {
      width: 400px;
    }
  }

@media screen and (max-width: 576px) {
    div#board-container {
      width: 320px;
      height: 320px; /*so that it will tranform properly*/
    }
    div.square {
      width: 40px;
      height: 40px;
    }
    .row {
      width: 320px;
    }
  }


  /*   not sure if we need all of this*/

.square img {
  width: 100%;
  height: 100%;
  display: block;
}

#board-container.grabbed:hover {
  cursor: grabbing;
}

#board-container:hover{
  cursor: grab;
}


.selected {
  box-shadow: 0 0 0 3px green inset;
}

.target {
  box-shadow: 0 0 0 3px grey inset;
}

.square:not(.selected):hover {
  box-shadow: 0 0 0 3px gold inset;
}

.flipped-board {
  transform: rotate(180deg);
}

.unflipped-board {
  transform: rotate(0deg);
}